<a href="https://colab.research.google.com/github/lanashin/PY4e_coursera/blob/main/5_Loops_and_iterations.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Loops(repeated steps) have iteration variables that change each time through a loop. Often these iteration variables go through a sequence of numbers.

In [1]:
n=5
while n >0:
  print(n)
  n=n-1
print("Blastoff!")
print(n)

5
4
3
2
1
Blastoff!
0

**Breaking out of the loop**

In [2]:
#What is wrong with this loop?
# Answer: that it doesnt have a way to execute so its going forever
# the way to fix it: use break statement - it ends the curent loop and jumps to statement outside of a loop
n=5
while n>0:
  print("Lather")
  print("Rinse")
  break
print("Dry off")

Lather
Rinse
Dry off

In [3]:
#what is wrong with this loop?
#Answer: it doesnt enter the loop and prints dry off and nothing else
n=0
while n>0:
  print("Lather")
  print("Rinse")
print("Dry off")

Dry off

**Finishing the Iteration with continue**

In [4]:
#the continue statement ends the current iteration and jumps to the top of the loop and starts the next iteration
while True:
   line = input (">")
   if line[0] =="#":
     continue
   if line =="done":
     break
   print(line)
print("Done!")

>hello
hello
>done
Done!

## Indefinite loops

Idefinite loops called this way because they keep going until a logical condition becomes ***False***

## Definite loops
Definite loops called this way because they execute an exact number of times

For construct

In [5]:
for i in [5,4,3,2,1]:
  print(i)
print("Blastoff!")

5
4
3
2
1
Blastoff!

In [6]:
#a definite loop with strings
#the "iteration variable" ==i, "iterates" through the sequence (ordered set)
friends =['Joseph', 'Lana', 'Nicholas', 'Liza']
for friend in friends:
  print("Happy New Year:", friend)
print('Done!')

Happy New Year: Joseph
Happy New Year: Lana
Happy New Year: Nicholas
Happy New Year: Liza
Done!

In [11]:
#finding the largest value 
#Before -1
#9 9
#41 41
#41 12
#41 3
#74 74
#74 15
#after 74
largest_so_far = -1
print("Before", largest_so_far)
for the_num in [9,41,12,3,74,15]:
  if the_num > largest_so_far:
    largest_so_far = the_num
  print(largest_so_far, the_num)

print("After", lasrgest_so_far)

Before -1
9 9
41 41
41 12
41 3
74 74
74 15
After -1

In [12]:
#counting in a loop
#Before 0
# 1 9 
# 2 41
# 3 12
# 4 3
# 5 74
# 6 15
#After 6
zork = 0
print("Before", zork)
for thing in [9,41,12,3,74,15]:
  zork = zork +1
  print(zork, thing)
print("After", zork)

Before 0
1 9
2 41
3 12
4 3
5 74
6 15
After 6

In [13]:
#SUMMING A LOOP
#Before 0
# 9 9 
# 50 41
# 62 12
# 65 3
#139 74
#154 15
#after 154
zork =0
print("Before", zork)
for thing in [9, 41,12,3,74,15]:
  zork = zork +thing
  print(zork, thing)
print("After", zork)

Before 0
9 9
50 41
62 12
65 3
139 74
154 15
After 154

In [14]:
#finding the average in a loop
#Before 0 0 
# 1 9 9 
# 2 50 41
# 3 62 12
# 4 65 3
# 5 139 74
# 6 154 15
# After 6 154 25.666
#an average just combines the counting and sum patterns and devides when the loop is done
count =0
sum = 0
print("Before", count, sum)
for value in [9,41,12,3,74,15]:
  count = count +1
  sum = sum + value
  print(count, sum, value)
print("After", count, sum, sum/count)

Before 0 0
1 9 9
2 50 41
3 62 12
4 65 3
5 139 74
6 154 15
After 6 154 25.666666666666668

In [15]:
#filtereing in a loop
#if statement in the loop is to catch/filter the values we are looking for
print("Before")
for value in  [9,41,12,3,74,15]:
  if value > 20:
    print("Large number", value)
print("After")

Before
Large number 41
Large number 74
After

In [16]:
#Search Using a boolean variable
#if we just want to search and know that value was found, we use a variable that starts at FALSE and is set to TRUE  as soon as we find what we are looking for.
found = False
print("Before", found)
for value in  [9,41,12,3,74,15]:
  if value == 3:
    found = True
  print(found, value)
print("After", found)

Before False
False 9
False 41
False 12
True 3
True 74
True 15
After True

In [20]:
#finding the smallest value 
#we just switched the name
#Before -1
#-1 9
#-1 41
#-1 12
#-1 3
#-1 74
#-1 15
#after -1
smallest_so_far = -1
print("Before", smallest_so_far)
for the_num in [9,41,12,3,74,15]:
  if the_num < smallest_so_far:
    smallest_so_far = the_num
  print(smallest_so_far, the_num)

print("After", smallest_so_far)

Before -1
-1 9
-1 41
-1 12
-1 3
-1 74
-1 15
After -1

In [22]:
#finding the smallest value 
#the first time through the loop smallest is None, so we take the first value to be smallest
smallest = None
print("Before")
for value in [9,41,12,3,74,15]:
  if smallest is None:
    smallest = value
  elif value < smallest:
    smallest = value
  print(smallest, value)
print("After", smallest)

Before
9 9
9 41
9 12
3 3
3 74
3 15
After 3

The is and is not Operators

* Python has an "IS" operator that can be used in logical expressions 

* implies "IS THE SAME AS"

* similar but stronger than ==

* "IS NOT" is also a logical operator